<html>
<head>
    <meta charset="UTF-8">
    <title>Diplom</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div id="header">
    <div class="inner">
        <a href="/main" class="logo">BioMark</a>
        <nav id="nav">
            <a href="/main" style="">Главная</a>
            <a href="/worker" style="">Работники</a>
            <a href="/logout" style="">Выйти</a>
        </nav>
    </div>
</div>
</body>