<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Diplom</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body style="
    padding-top: 20px;
    min-width: 1000px;
">
    <div id="wrapper">
      <div id="header">
        <div class="inner">
          <a href="/main" class="logo">BioMark</a>
          <nav id="nav">
            <a href="/card"  style="">Карточки пациентов</a>
            <a href="/worker"  style="">Работники</a>
            <a href="/logout"  style="">Выйти</a>
          </nav>
        </div>
      </div>
        <div id="content">
          <div id="inner-content">




<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">



    <div class="carousel-item active">

      <img class="d-block w-100" src="https://pp.userapi.com/c848416/v848416365/1a7327/NLIyqaQAepY.jpg" alt="Первый слайд">

      <div class="carousel-caption d-md-block">



     <h3 style="font-size: 20pt;">BioMark</h3>
    <p style="font-size: 15pt; color: #212529; font-weight: 700; display: block">
     устройство удаленного мониторинга медицинских показателей
</p>

  </div>
    
    </div>




    <div class="carousel-item">

      <img class="d-block w-100" src="http://www.vladtime.ru/uploads/posts/2015-07/1437923724_-.jpg" alt="Второй слайд">

     <div class="carousel-caption d-md-block">

    <h3 style="font-size: 20pt;">BioMark</h3>
     <p style="font-size: 15pt; color: #212529; font-weight: 700;">В последнее время, стараясь улучшить качество и результативность лечения пациентов, требующих постоянного наблюдения, медицинские учреждения нуждаются в более технологичных решениях, которые увеличат скорость диагностики пациента и соответственно приведут к его более быстрому лечению и выздоровлению.
Проект, который мы разработали позволяет, реализовать  данную задачу.</p>
  </div>
</div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://n-w.tv/wp-content/uploads/2019/02/close-up-doctor-health-42273-e1550480362646.jpg" alt="Третий слайд">
     <div class="carousel-caption d-md-block">
     <img src=" https://pp.userapi.com/c855036/v855036495/62df9/6MMo07MPCZ0.jpg" >
     <h3 style="font-size: 20pt;">BioMark</h3>
    <p style="font-size: 15pt; color: #212529; font-weight: 700;">Данный Web-интерфейс позволяет получить оперативный доступ к медецинским показателям определенного пациента</p>
    <p style="font-size: 3pt; color: #212529; ">долбаебы inc</p>
  </div>
</div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Предидущий</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Слудуюший</span>
  </a>
</div>
          </div>
        </div>
      <div id="footer"></div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
               
  <script>
    <script type="text/javascript">
      $(function () {
  $('#carouselExampleControls').carousel({
    interval: 12,
    keyboard: false,
    pause: 'hover',
    ride: 'carousel',
    wrap: false
  });
});
</script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script >
  $(function() {
    const socket = io('/main');

  });
</script>
  </body>
</html>
